*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;  /*Postavlja minimalnu velicinu, ako je nesto manje onda vazi, ako je vece nema efekta */
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;  /*postavi se underline na hidden, kad je 100 vidi se pa se stavi na reakciju da se uveca*/
    height: 3px;
    background: rgb(242, 190, 141);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);   /*Ovo da bude u centru diva*/
    text-align: center;
}

.text-box h1{
    font-size: 66px;

}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 32px;
    color: white;
}


.hero-btn:hover{
    border: 3px solid rgb(242, 190, 141);
    background: #f2be8d;
    transition: 1.5s;
}

button{
    font-size: 24px;
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border:3px solid rgb(242, 190, 141) ;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
input[type="button"].memberships{
  font-family: serif;
   font-size: 18px;
   width: 180px;
   text-align: center;
   padding: 3px;
   border-radius: 25px;
   border:3px solid rgb(242, 190, 141) ;
   background: transparent;
   color: rgb(0, 40, 101);
   cursor: pointer;
   position: relative;
   overflow: hidden;
   align-self: center;
   margin-left: 30px;
}

  input.search {
  	font-size: 20px;
    font-family: serif;
    color: white;
    border-radius: 25px;
    width: 200px;
    padding: 5px;
    background: url("../img/magnifier.png") no-repeat;
    padding-left: 30px;
  }
  .registration {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }
  input.inputF {
    width: 220px;
	}
 table.reg {
    background-color: white;
    border: 2px solid rgb(221, 199, 179);
    border-spacing: 3px;
    font-size: 12px;
    padding-top:20px;
    padding: 30px;
    padding-bottom: 50px;
    margin-left: 40%;
    margin-top: auto;
    margin-bottom: auto;
  }
  p.or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(221, 199, 179); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 span { 
     color:rgb(221, 199, 179); 
     background: white;
     padding:0 10px; 
 }
 .heroButtonReg:hover{
    border: 3px solid rgb(242, 190, 141);
    background: #f2be8d;
    transition: 1.5s;
}
 input[type="button"].heroButtonReg{
 	font-family: serif;
    font-size: 20px;
    width: 235px;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    border:3px solid rgb(242, 190, 141) ;
    background: transparent;
    color: rgb(0, 40, 101);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
p.reg, input.reg, th.reg, div.reg, option.reg, select.reg, label.reg{
    font-size: 17px;
    font-family: serif;
    color: rgb(0, 40, 101);
  }
  p.reg {
      margin-left: 45%;
      color:antiquewhite;
  }
  select.memb {
    width: 236px; 
    font-size: 16px; 
    background-color: white; 
    border-color: rgb(0, 40, 101); 
    color: rgb(0, 40, 101);
  }
  select.addNew {
    width: 220px; 
    font-size: 12px; 
    background-color: white; 
  }

  th.reg {
    font-size: 35px;
    color: rgb(0, 40, 101);
    text-align: center;
    background-color: white;
    padding-bottom: 15px;
  }
  input.reg {
    width: 200px;
    padding: 5px;
  }
  a.reg {
    color: rgb(242, 190, 141);
  }
  .err{
  	margin-left:45%;
  }
  
  button.search{
    background-color:#7892c2;
	border-radius:15px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:9px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  }
  button.addNew{
  background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
  width: 250px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  }
  .facilities{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }
  .memberships{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }
  table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-width: 2px;
  border-color: #BDE4FF;
  border-style: solid;
  color: #000000;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #BDE4FF;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #7CA9F8;
}
h2.list{
	padding-top:2%;
	margin-bottom:1%;
	margin-left: 45%;
	color:#FFFFFF;
}
h2.chM{
	padding-top:3%;
	margin-bottom:1%;
	margin-left: 43%;
	color:#FFFFFF;
}
h2.search{
	color:#FFFFFF;
	padding-top:1%;
	padding-left:20px;
}
div.search{
	margin-top:20px;
	margin-left:45%;
}
label.sort{
	padding-top:3%;
	margin-bottom:1%;
	margin-left: 35%;
	color:#FFFFFF;
}
label.filterT{
	margin-left:5px;
	color:#FFFFFF;
}
label.filterW{
	margin-left:5px;
	color:#FFFFFF;
}
.login{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }
  form.login{
  padding-left:600px;
  padding-top:30px;
  }
  p.loginP{
  color:#FFFFFF;
  }
  .trainings{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }
  .addManagerTrainer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }