*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;  /*Postavlja minimalnu velicinu, ako je nesto manje onda vazi, ako je vece nema efekta */
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;  /*postavi se underline na hidden, kad je 100 vidi se pa se stavi na reakciju da se uveca*/
    height: 3px;
    background: rgb(242, 190, 141);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);   /*Ovo da bude u centru diva*/
    text-align: center;
}

.text-box h1{
    font-size: 66px;

}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 32px;
    color: white;
}


.hero-btn:hover{
    border: 3px solid rgb(242, 190, 141);
    background: #f2be8d;
    transition: 1.5s;
}

button{
    font-size: 24px;
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border:3px solid rgb(242, 190, 141) ;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

  input.search {
  	font-size: 20px;
    font-family: serif;
    color: white;
    border-radius: 25px;
    width: 200px;
    padding: 5px;
    background: url("../img/magnifier.png") no-repeat;
    padding-left: 30px;
  }
  .registration {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(36, 40, 58, 0.7),rgba(36, 40, 58, 0.7)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
  }
  input.inputF {
    width: 220px;
	}
 table.reg {
    background-color: white;
    border: 2px solid rgb(221, 199, 179);
    border-spacing: 3px;
    font-size: 12px;
    padding: 30px;
    padding-bottom: 50px;
    margin-left: 40%;
    margin-top: auto;
    margin-bottom: auto;
  }
  p.or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(221, 199, 179); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 span { 
     color:rgb(221, 199, 179); 
     background: white;
     padding:0 10px; 
 }
 .heroButtonReg:hover{
    border: 3px solid rgb(242, 190, 141);
    background: #f2be8d;
    transition: 1.5s;
}
 input[type="button"].heroButtonReg{
 	font-family: serif;
    font-size: 20px;
    width: 235px;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    border:3px solid rgb(242, 190, 141) ;
    background: transparent;
    color: rgb(0, 40, 101);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
p.reg, input.reg, th.reg, div.reg, option.reg, select.reg, label.reg{
    font-size: 17px;
    font-family: serif;
    color: rgb(0, 40, 101);
  }
  p.reg {
      margin-left: 45%;
      color:antiquewhite;
  }

  th.reg {
    font-size: 35px;
    color: rgb(0, 40, 101);
    text-align: center;
    background-color: white;
    padding-bottom: 15px;
  }
  input.reg {
    width: 200px;
    padding: 5px;
  }
  a.reg {
    color: rgb(242, 190, 141);
  }
  .err{
  	margin-left:45%;
  }